{% extends 'admin/base_site.html' %}

{% block content %}
<div class="module">
    <h2>Cargar Pacientes desde Excel</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
            <input type="submit" value="Cargar" class="default">
        </div>
    </form>

    {% if messages %}
        <ul class="messagelist">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}